.path {
  display: flex;
  justify-content: space-between;
  background-color: #f8f3f4;
  padding-top: 66px;
  padding-bottom: 65px;
}
.path__main_title {
  font-size: 24px;
  color: #f16d7f;
  text-transform: uppercase;
  float: left;
}
.path__links_link {
  font-size: 14px;
  text-transform: uppercase;
  color: #6f6e6e;
  float: left;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.path__links_link:hover {
  color: #f16d7f;
}
.path__links .lastlink {
  color: #f16d7f;
}
.path__links p {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}
.changes {
  text-align: center;
  color: #f16d7f;
  font-weight: normal;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.product .emptybasket__container {
  text-align: center;
}
.product .emptybasket__container_title {
  text-transform: uppercase;
  color: #6f6e6e;
  border: 1px solid #e6e6e6;
  padding-top: 90px;
  padding-bottom: 90px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 18px;
}
.product__title {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.product__title_details {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0.1px 0.1px 0 black;
}
.product__title .maintitle {
  padding-right: 180px;
}
.product__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.product__item_action {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.product__item_action i {
  font-size: 16px;
}
.product__item_action:hover {
  color: #f16d7f;
}
.product__item_img {
  display: inline-block;
  float: left;
  margin-right: 20px;
  max-width: 100px;
}
.product__item_title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 30px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product__item_color {
  font-weight: bold;
  font-size: 14px;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #6f6e6e;
}
.product__item_size {
  font-weight: bold;
  font-size: 14px;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #6f6e6e;
  margin-top: 8px;
}
.product__item .color__drop {
  display: none;
  position: absolute;
  z-index: 99;
  top: 79px;
  left: 190px;
  color: #6f6e6e;
  padding-bottom: 2px;
  border: 1px solid #e6e6e6;
  background-color: #f3f3f3;
  padding-right: 5px;
}
.product__item .color__drop li {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 6px;
}
.product__item .color__drop li:hover {
  color: #f16d7f;
  cursor: pointer;
}
.product__item .size__drop {
  display: none;
  position: absolute;
  z-index: 99;
  top: 103px;
  left: 180px;
  color: #6f6e6e;
  padding-bottom: 2px;
  border: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}
.product__item .size__drop li {
  float: left;
  padding-top: 3px;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 6px;
}
.product__item .size__drop li:hover {
  color: #f16d7f;
  cursor: pointer;
}
.product__item_currentprice {
  font-weight: bold;
  text-transform: uppercase;
}
.product__item_quantity {
  display: inline-block;
  font-size: 13px;
  width: 20px;
  padding: 10px 15px 10px 25px;
  border: 1px solid #e6e6e6;
  color: #6f6e6e;
  font-weight: bold;
  margin-left: 20px;
}
.product__item_shipping {
  padding-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.product__item_subtotal {
  padding-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.product__itembuttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.product__itembuttons_button {
  font-size: 14px;
  border: 1px solid #e6e6e6;
  padding: 21px 38px 20px;
  color: #6f6e6e;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  margin-top: 45px;
  cursor: pointer;
}
.product__itembuttons_button:hover {
  background-color: #f16d7f;
  color: white;
}
.product__item_action {
  cursor: pointer;
}
.shipping {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.shipping__address {
  position: relative;
}
.shipping__address_title {
  padding-bottom: 23px;
  text-transform: uppercase;
  font-size: 16px;
}
.shipping__address_country {
  width: 350px;
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: #222222;
  font-size: 14px;
  margin-bottom: 4px;
  border: 1px solid #e6e6e6;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.shipping__address_country::-webkit-input-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}
.shipping__address_country::-moz-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}
.shipping__address_country:-moz-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}
.shipping__address_country:-ms-input-placeholder {
  color: #d2d2d2;
  font-size: 13px;
}
.shipping__address .shipping__country_invalid {
  color: #f16d7f;
  font-size: 12px;
  margin-bottom: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.shipping__address i {
  position: absolute;
  top: 53px;
  right: 15px;
  font-size: 16px;
  color: #a4a4a4;
}
.shipping__address_quote {
  float: left;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 12px 15px 13px;
  color: #4a4a4a;
  border: 1px solid #e6e6e6;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.shipping__address_quote:hover {
  background-color: #f16d7f;
  color: white;
}
.shipping__address_cost {
  font-size: 13px;
  border-bottom: 1px solid #f16d7f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px 13px;
  float: right;
  color: white;
  border-color: white;
  font-weight: bold;
  max-width: 200px;
  -webkit-transition: color 0.5s, border-color 0.5s;
  -moz-transition: color 0.5s, border-color 0.5s;
  -ms-transition: color 0.5s, border-color 0.5s;
  -o-transition: color 0.5s, border-color 0.5s;
  transition: color 0.5s, border-color 0.5s;
}
.shipping__discount_nocoupon {
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
}
.shipping__discount_title {
  padding-bottom: 29px;
  text-transform: uppercase;
  font-size: 16px;
}
.shipping__discount_description {
  padding-bottom: 25px;
  color: #6f6e6e;
  font-size: 14px;
}
.shipping__discount_state {
  width: 350px;
  display: block;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: #222222;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
}
.shipping__discount_state::-webkit-input-placeholder {
  color: #d2d2d2;
}
.shipping__discount_state::-moz-placeholder {
  color: #d2d2d2;
}
.shipping__discount_state:-moz-placeholder {
  color: #d2d2d2;
}
.shipping__discount_state:-ms-input-placeholder {
  color: #d2d2d2;
}
.shipping__discount_apply {
  float: left;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 12px 15px 13px;
  color: #4a4a4a;
  border: 1px solid #e6e6e6;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.shipping__discount_apply:hover {
  background-color: #f16d7f;
  color: white;
}
.shipping__total {
  position: relative;
  background-color: #f5f3f3;
  padding: 40px 42px 42px 44px;
  text-align: right;
}
.shipping__total_subtotal {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6f6e6e;
}
.shipping__total_subtotal span {
  padding-left: 20px;
  color: inherit;
}
.shipping__total_grandtotal {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
  padding-top: 18px;
  padding-bottom: 45px;
  border-bottom: 1px solid #cdcdcd;
}
.shipping__total_grandtotal span {
  padding-left: 20px;
}
.shipping__total_discount {
  position: absolute;
  color: #f16d7f;
  text-transform: uppercase;
  top: 105px;
  right: 40px;
  font-weight: bold;
}
.shipping__total_order {
  text-transform: uppercase;
  border: none;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  padding: 20px 42px;
  margin-top: 17px;
  -webkit-transition: background-color 0.5s, border-radius 0.7s;
  -moz-transition: background-color 0.5s, border-radius 0.7s;
  -ms-transition: background-color 0.5s, border-radius 0.7s;
  -o-transition: background-color 0.5s, border-radius 0.7s;
  transition: background-color 0.5s, border-radius 0.7s;
}
.shipping__total_order:hover {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.ui-menu {
  background-color: white;
  border: 1px solid #e6e6e6;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.ui-menu-item {
  color: #6f6e6e;
  padding-top: 5px;
}
.ui-menu-item:hover {
  color: #f16d7f;
}
.ui-helper-hidden-accessible {
  margin: 0;
}
.ui-dialog .ui-dialog-content {
  background-color: #f5f3f3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #f16d7f;
}
.orderdialog {
  max-height: 800px;
}
.orderdialog__item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  padding-top: 10px;
}
.orderdialog__item_title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orderdialog__item_desc {
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orderdialog__title {
  color: #f16d7f;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #f16d7f;
  margin-right: 300px;
  margin-left: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.orderdialog__button {
  border: 1px solid #f16d7f;
  color: #6f6e6e;
  padding: 12px 22px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.confirm {
  color: #f16d7f;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.confirm:hover {
  color: white;
  background-color: #f16d7f;
}
.close {
  border-color: #e6e6e6;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  -ms-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
.close:hover {
  color: white;
  background-color: #f16d7f;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  position: relative;
  float: left;
  margin-top: -30px;
  margin-left: 15px;
}
.ui-dialog .ui-dialog-content {
  padding-bottom: 40px;
  overflow: auto;
  max-height: 500px !important;
}
.ui-dialog .ui-dialog-content .orderdialog__title {
  margin-bottom: 10px;
}
.ui-dialog .ui-dialog-content .orderdialog__delivery {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #f16d7f;
  padding-bottom: 8px;
  font-size: 15px;
  text-transform: uppercase;
  color: #f16d7f;
}
.ui-dialog .ui-dialog-content .orderdialog__item_title {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
}
.ui-dialog .ui-dialog-content .orderdialog__total {
  float: right;
  margin-right: 55px;
}
.ui-dialog-titlebar-close {
  left: 1130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
  border: 1px solid #f16d7f;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.ui-dialog-titlebar-close:hover {
  background-color: #e6e6e6;
}
.ui-widget-overlay {
  background-color: black;
  opacity: 0.5;
  z-index: 10;
}
.ui-dialog {
  position: fixed !important;
  top: 10% !important;
  left: 15% !important;
}
.invalid {
  border: 1px solid #f16d7f !important;
}
.delivery__address {
  border: 1px solid #f16d7f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 200px;
  padding: 10px 20px;
  text-align: center;
}
.delivery__address_title {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #6f6e6e;
}
.delivery__address_country {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f16d7f;
}
